body {
  background-color: #808080;
  font-size: 16px;
  width: 170px;
  height: 200px; }

.listItem {
  padding: 10px; }

a:link {
  color: #000000;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

a:visited {
  color: #000000; }
