div#resultStats {
  margin-top: 30px; }

#messageContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
  width: 632px;
  background-color: #F0E68C;
  margin-bottom: 20px;
  margin-top: 20px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  margin-left: 150px; }

#messageContainerText {
  margin: auto;
  text-align: center;
  color: #000; }

#closeMessageContainerButton {
  float: right;
  width: 25px;
  text-align: center;
  margin: auto;
  cursor: pointer;
  color: #000; }
