#messageContainer
	display: flex
	height: 25px
	width: 632px
	background-color: #F0E68C
	margin-bottom: 20px
	margin-top: 20px
	border-radius: 8px
	margin-left: 150px

#messageContainerText
	margin: auto
	text-align: center
	line-height: 1em

#closeMessageContainerButton
	float: right
	width: 25px
	text-align: center
	margin: auto
	cursor: pointer
	line-height: 1em
